body {
    background-color: black;
}
.threeLives{
    background-color: black;
}

.twoLives{
    background-color: 800000;
}
.oneLife{
    background-color: 999900; 
}


.score {
    color:violet;
    text-align: center;
    font-size: 100%;
}
#endScreen{
    font-size: 500%;
}
#startBtn{
    color: blue;
    background-color: orange;
    font-size: 400%
}
