body {
    background-color: black;
}
.threeLives{
    background-color: black;
}

.twoLives{
    background-color: yellow;
}
.oneLife{
    background-color: red; 
}


.score {
    color:violet;
    text-align: center;
    font-size: 100%;
}
#endScreen{
    font-size: 500%;
}

